<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">

        <% if (locals.loggedin) { %>
            <a title="View Account Management" href="/account">Account Management |</a>
            <a title="Click to log out" href="/logout"> Log out</a>
            <% } else { %>
                <a title="Click to log in" href="/account">My Account</a>
                <% } %>
    </div>
</header>