@media screen and (max-width: 1100px) {
    main {
        display: flex;
        flex-direction: column;
    }

    #wrapper {
        margin: 5%;
    }

    .info-box {
        top: 60px;
        left: 20px;
        width: 140px;
        font-size: 15px;
        line-height: normal;
    }

    .info-box p,
    .info-box h4 {
        margin: 2px;
    }

    /* details page */
    .vehicle-display {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        margin: 20px auto;
        max-width: 700px;
    }
}

@media screen and (max-width:550px) {
    #wrapper {
        margin: 0px;
    }

    .siteName a {
        font-size: 25px;
    }

    header a {
        font-size: 20px;
    }

    .upgrade {
        margin: 3px auto;
        width: 80%;
    }

    .nav {
        flex-direction: column;
    }

    .nav li {
        text-align: center;
        font-size: 17px;
        padding: 5px;
        border: 1px solid gray;
    }

    h2 {
        font-size: 20px;
    }



}