/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 25px;
}

span,
a,
p,
h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url('../images/site/small_check.jpg');
}

#wrapper {
  background-color: white;
  margin: 30px 10%;
  border: 5px solid black;
  padding: 20px;
}

.index-main {
  display: grid;
  grid-template-areas: "a a" "c d";
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

header a:hover {
  text-decoration: underline;
}

.siteName a {
  font-size: 40px;
}

.nav {
  margin: 5px;
  background-color: black;
}

.nav li {
  list-style-type: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.nav li a {
  list-style-type: none;
  color: white;
  font-size: 20px;
}

.nav li a:hover {
  color: rgb(202, 237, 255);
}

footer {
  border-top: 1px solid black;
  margin-top: 20px;
  padding-top: 10px;
}

.hero {
  width: 100%;
  position: relative;
  grid-area: a;
  margin-bottom: 60px;
}

.hero-img {
  width: 60%;
  margin: auto;
  display: block;
}

.info-box {
  position: absolute;
  top: 55px;
  left: 80px;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.679);
  padding: 10px;
  font-size: 20px;
}


.info-box img {
  width: 80%;
}

.info-box img:hover {
  opacity: 80%;
}

.row {
  width: 80%;
  display: block;
  margin: auto;
}

.row a {
  text-align: center;
}

.row ul li {
  font-size: 20px;
  line-height: 200%;
}

#upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

h3 {
  text-align: center;
  font-size: 25px;
}

.upgrade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px 30px;
  height: 150px;
  border: 4px solid black;
}

.upgrade:hover {
  background-color: rgb(242, 242, 242);
}

.upgrade img {
  height: 80px;
}

.vehicles {
  list-style: none;
}

/* Details Page */
.vehicle-display {
  display: grid;
  grid-template-areas: "a a" " b c";
}

.vehicle-display h3 {
  grid-area: a;
}

.vehicle-display img,
.detail-section {
  width: 80%;
}

.detail-section>*:nth-child(Odd) {
  background-color: #d8d8d8;
  padding: 5px;
}

#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 0;
  list-style-type: none;
}

.vehicles {
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.vehicles:hover {
  transform: scale(1.05);
}

.vehicles img {
  width: 100%;
  height: auto;
}

.namePrice {
  padding: 16px;
  text-align: center;
}

.namePrice h2 {
  margin: 0;

}

.namePrice a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

back .namePrice span {
  color: black;
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-top: 8px;
}


form {
  color: black;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.523);
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  font-weight: bold;
}


form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form textarea,
form select {
  width: 100%;
  padding: 10px;
  margin: 2px auto 20px auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

form input[type="submit"] {
  display: block;
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px auto;
}

form input[type="submit"]:hover {
  transform: scale(1.05);
}

form+a {
  display: block;
  margin-top: 20px;
  color: black;
  text-align: center;
  text-decoration: none;
}

form+a:hover {
  text-decoration: underline;
}

li {
  font-weight: bold;
  list-style-type: none;
  text-align: center;

}

input:required:invalid,
input:focus:invalid,
select:required:invalid,
select:focus:invalid,
textarea:required:invalid,
textarea:focus:invalid {
  border-left: 4px solid red;
}

textarea:required:valid,
select:required:valid,
input:required:valid {
  border-left: 4px solid rgb(0, 255, 4);
}

#inv-management,
#inbox {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inv-management div {
  margin-bottom: 30px;
}

#inv-management select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#inv-management a,
.black-links {
  padding: 10px 15px;
  background-color: black;
  color: white;
  text-decoration: none;
}

#inv-management a:hover,
.black-links:hover {
  background-color: #0056b3;
}

#messageList {
  width: 90%
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

table th {
  background-color: #f2f2f2;
  font-family: Arial;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.account-a {
  margin: 5px;
}

.delete-msg {
  text-align: center;
  color: #A30000;
}

.new-message-form {
  max-width: 800px;
  width: 100%;
}

.new-message-form input[type="text"],
.new-message-form select,
#message_body {
  width: calc(100% - 22px);
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

#message_body {
  height: 300px;
}

#message_body::placeholder,
.new-message-form input[type="text"]::placeholder {
  font-family: Arial, sans-serif;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #d5f7ff;
}

.message-details {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.message-options {
  margin: 0px;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  width: 180px;
  align-self: start;
}

.message-options a {
  border-bottom: 1px solid rgb(92, 92, 92);
  width: 100%;
}

.messageWOptions {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
}

.inbox-btn {
  width: 85px;
  text-align: center;
  margin: 20px auto;
  display: block;
}

.archived-notice {
  margin: 0px;
  text-align: end;
  align-self: start;
}

.date,
.subject,
.name {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#deleteForm {
  box-shadow: none;
  border: none;
  display: flex;
  justify-content: center;
}

.message-list {
  list-style: none;
  padding: 0;
  border-collapse: collapse;
  width: 100%;
}

.table-header,
.row {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.table-header {
  background-color: #f4f4f4;
  font-weight: bold;
}

.cell {
  flex: 1;
  padding: 8px;
  border-right: 1px solid #ddd;
  text-decoration: none;
  color: black;
}

.table-header .cell {
  border: none;
}

.cell:last-child {
  border-right: none;
}

.message-read,
.message-sender,
.message-subject,
.message-date {
  font-weight: normal;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  width: 100%;
}

.row:hover {
  background-color: rgba(147, 172, 241, 0.084);
}

.cell,
.table-header {
  flex: 1;
}

.message-read,
.table-header:nth-child(1) {
  flex: 0 0 10%;
}

.message-sender,
.message-list .cell:nth-child(2) {
  flex: 0 0 25%;
}

.message-subject,
.message-list .cell:nth-child(3) {
  flex: 0 0 35%;
}

.message-date,
.message-list .cell:nth-child(4) {
  flex: 0 0 30%;
}