<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } %>
        <p>
            <%- messages() %>
        </p>

        <a href="/inv/addInventory">Add New Inventory</a>
        <a href="/inv/addClassification">Add New Classification</a>